
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: none;
}
.tabs ul.primary li a.active {
  background-color: none;
}
.tabs ul.primary li.active a {
  background-color: none;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #48a9e4;
  background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}
#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}
@font-face {
    font-family: 'Gotham';
    src: url('/fonts/Invision.eot');
    src: url('/fonts/Invision.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Invision.woff') format('woff'),
         url('/fonts/Invision.ttf') format('truetype'),
         url('/fonts/Invision.svg#ciclefina') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GothamBold';
    src: url('/fonts/InvisionBold.eot');
    src: url('/fonts/InvisionBold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/InvisionBold.woff') format('woff'),
         url('/fonts/InvisionBold.ttf') format('truetype'),
         url('/fonts/InvisionBold.svg#ciclegordita') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'GothamSemi';
    src: url('/fonts/cicle_semi-webfont.eot');
    src: url('/fonts/cicle_semi-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/cicle_semi-webfont.woff') format('woff'),
         url('/fonts/cicle_semi-webfont.ttf') format('truetype'),
         url('/fonts/cicle_semi-webfont.svg#ciclesemi') format('svg');
    font-weight: normal;
    font-style: normal;

}
	body {
		font-family:'Gotham';
		color:white;
		font-size:16px;	
	}
	h1, h2, h3, h4 {
		font-family:'GothamBold';	
		color:black;
	}
	p {
		color:black;	
	}
  #header {
	background:white;  
	height:70px;
  }
  #logo {
	padding:0px;  
  }
  #page, #page-wrapper, #main-wrapper, #footer-wrapper {
	background:white;  
  }
  #breadcrumb {
	display:none;  
  }
  #header, #footer-wrapper, #skip-link, ul.contextual-links, ul.links, ul.primary, .item-list .pager, div.field-type-taxonomy-term-reference, div.messages, div.meta, p.comment-time, table, .breadcrumb {
	font-family:'Gotham';  
  }
  #secondary-menu {
	  position:static;
	  width:700px;
  }
  #secondary-menu-links {
	  float:left;
	  font-family:'GothamBold';
  }
  input {
	font-family:'Gotham';  
  }
  #first-time {
	display:none;
  }
  table {
	font-size:16px;  
  }
  input[type=submit], input[type=button] {
	color: white;
background: red;
border: 0;
padding: 6px;
font-family:'GothamBold';  
cursor:pointer;
  }
  input[type=submit]:hover, input[type=button]:hover {
	background:gray;  
  }
  #main-menu {
	  clear:none;
	  font-family:'GothamBold';
	  position:relative;
	  z-index:5; 
  }
  #main-menu-links a {
	  color:black;
	  text-shadow:none;
	  height:55px;
	  border-top-left-radius: 0px;
border-top-right-radius: 0px;
background:none;
font-size:12px;
text-transform:uppercase;  
  }
  #main-menu .menu ul li a {
    font-family:'Gotham';
  }
  #main-menu-links a:hover {
	  background:#0079AE;
  }
  #main-menu-links a.active {
	  background:#0079AE;
  }
  #main-menu-links li a.active:hover {
	  background:#0079AE;
  }
table {
	background:white;
	width:100%;
	border:none;
	color:black;	
}
table tbody {
	border-top:none;	
}
table th {
	font-weight:normal;
	font-family:'GothamBold';
	padding:10px;
	background:
}
a {
	color:black;	
}
a:hover {
	color:red;	
}
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
  background: #0079AE;
  color:white;
}
#logo img {
	width:80%;
	margin-top:8px;	
}
#main-menu .menu ul {
	top:60px;
	left:1px;
}
#main {
	margin-top:0;	
}
#page-title {
	background: url(/images/BlueFade.png) no-repeat;
color: white;
padding: 10px;
margin: 0;	
text-transform:uppercase;
}
#main-menu .menu ul li, #main-menu .menu ul li a {
	background:white;	
}
#main-menu .menu ul ul {
	left:162px;	
}